# Copia a .env o configura secrets en Firebase:
#   npx firebase-tools functions:secrets:set T3_USER
#   npx firebase-tools functions:secrets:set T3_PASSWORD
#   npx firebase-tools functions:secrets:set T3_ORGANIZATION
#   npx firebase-tools functions:secrets:set T3_COMPANY
#
# Params no secretos:
# T3_BASE_URL=https://taemsa.tencloud.es

T3_BASE_URL=https://taemsa.tencloud.es
T3_USER=
T3_PASSWORD=
T3_ORGANIZATION=
T3_COMPANY=
